<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="https://use.fontawesome.com/17c7962084.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="svg-with-js/js/fontawesome-all.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body background="pics/certification-peer-fitness-trainer-hero.jpg" >
<h1 class="h3 mb-3 font-weight-normal" style="color: #005cbf " id="h1"><strong>Begin The Journey</strong></h1>

<form class="form-control-sm" id="f1" action="signin.hbs">
    <img class="mb-4" src="js/bootstrap.min.js" alt="" width="72" height="72">
    <label for="fullname" class="sr-only">Full Name</label>
    <input id="fullname" class="form-control" placeholder="Full Name" required="required"
           autofocus="autofocus" type="text" style="width: 250px">

    <label for="inputEmail" class="sr-only">Email address</label>
    <input id="inputEmail" class="form-control" placeholder="Email address" required="required"
           autofocus="autofocus" type="email" style="width: 250px">
    <label for="inputPassword" class="sr-only">Password</label>
    <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password"
           style="width: 250px">
    <!--<h3 class="h3 mb-3 font-weight-normal" style="color: #005cbf " id="h3">Select interested sport </h3>-->
    <!--<div class="custom-checkbox  " size="20">-->
        <!--<label>-->
            <!--<input value="remember-me" type="checkbox" id="c1"> Cycling-->
        <!--</label>-->
        <!--<input value="remember-me" type="checkbox" id="c2"> Cycling-->
        <!--<input value="remember-me" type="checkbox" id="c3"> Swimming-->
        <!--<input value="remember-me" type="checkbox" id="c4"> BodyBuilding-->
        <!--<input value="remember-me" type="checkbox" id="c5"> Football-->
    <!--</div>-->
    <button class="btn  btn-primary " type="submit" id="b1" >Sign Up</button><p></p>
    <a href="signin.hbs" style="color: #005cbf" id="a1">Already have an account?</a>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
</form>

</body>
</html>