<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GetFit</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="https://use.fontawesome.com/17c7962084.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body background="pics/signup.jpg">
<h1 class="h3 mb-3 font-weight-normal" style="color: #005cbf " id="h1"><strong>Begin The Journey</strong></h1>

<form method="post" class="form-control-sm" id="f1" action="/user/signup">
    <img class="mb-4" src="js/bootstrap.min.js" alt="" width="72" height="72">

    <label for="inputEmail" class="sr-only">Email address</label>
    <input id="inputEmail" class="form-control" placeholder="User Name" required="required"
           autofocus="autofocus" type="text" style="width: 250px" name="username">
    <label for="inputPassword" class="sr-only">Password</label>
    <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password" name="password"
           style="width: 250px">
    <!--<h3 class="h3 mb-3 font-weight-normal" style="color: #005cbf " id="h3">Select interested sport </h3>-->
    <!--<div class="custom-checkbox  " size="20">-->
    <!--<label>-->
    <!--<input value="remember-me" type="checkbox" id="c1"> Cycling-->
    <!--</label>-->
    <!--<input value="remember-me" type="checkbox" id="c2"> Cycling-->
    <!--<input value="remember-me" type="checkbox" id="c3"> Swimming-->
    <!--<input value="remember-me" type="checkbox" id="c4"> BodyBuilding-->
    <!--<input value="remember-me" type="checkbox" id="c5"> Football-->
    <!--</div>-->
    <!--<button  class="btn  btn-primary " type="submit" id="b1" >Sign Up</button><p></p>-->
    <input class="btn  btn-primary " type="submit" value="SIGN UP" id="b1">
    <p></p>
    <a href="/user/signin" style="color: #005cbf" id="a1">Already have an account?</a>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
</form>

</body>
</html>