<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/17c7962084.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
</head>

<body id="b1" background="./pics/signin.jpg">

<div class="container" id="container">
    <!--<img src="Fitness-Man-Body.jpg" width="100%" height="100%" type="background">-->
    <div id="11" class="form-control-sm">
        <form  class="form-control-sm" id="f1" style="margin-top:15%" action="/user/signin" method="post">
            <img class="mb-4"  alt="" width="72" height="72"
            >
            <h1 class="h3 mb-3 font-weight-normal" style="color: #005cbf " id="h11">Get Ready...</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input id="inputEmail" class="form-control" placeholder="User Name" required="required"
                   autofocus="autofocus" type="text" style="width: 250px" name="username">

            <label for="inputPassword" class="sr-only">Password</label>
            <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password" name="password"
                   style="width: 250px">
            <div class="checkbox mb-3">
                <label>
                    <input value="remember-me" type="checkbox" style="margin-top: 10px "> Remember me
                </label>
            </div>
            <input class="btn  btn-primary " type="submit" value="SIGN IN">
            <p></p>
            <a class="btn  btn-primary " type="submit" value="SIGN IN" href="/user/login/fb">Sign in with Facebook</a>
            <p></p>
            <a class="btn  btn-primary " type="submit" value="SIGN IN" href="/user/login/twitter">Sign in with
                Twitter</a>
            <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
        </form>

    </div>
</div>

</body>
</html>