body {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.fixed-top {
    left: 0.5rem;
    right: 0.5rem;
}

.navbar, #f {
    background: #355C7D; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #C06C84, #6C5B7B, #355C7D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.nav-item {
    padding: 1rem;
}

.logo {
    border-radius: 2rem;
    padding: 0.5rem;
}

#f1 {
    margin-left: 40%;
    margin-bottom: 150px;
}

#h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30%;

}

#h11 {
    font-size: 70px;
}

#inputEmail {
    margin-top: 150px;
}

#inputEmail, #inputPassword {
    margin-top: 40px;
    /*margin-left: 30px%;*/

}

#fullname {
    margin-top: 100px;
}

#c1, #c2, #c3, #c4 {
    margin-left: 70px;
    margin-top: 30px;
}

#h1 {
    font-size: 80px;
}

#h3, #b1 {
    margin-top: 30px;
}

#a1 {
    margin-top: 50px;
    /*margin-left: 15px;*/
}

canvas {
    display: inline-block;
    vertical-align: baseline
}

.card-title {
    color: #3D5C7D;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    /**/
}

#card2 {
    /*margin-top: 20px;*/
    color: #1b1e21;
    background: #3E5151; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #DECBA4, #3E5151); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-size: 20px;
    /*font-variant-position: super;*/
}

#card1 {
    background: #fffbd5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #b20a2c, #fffbd5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #b20a2c, #fffbd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-size: 20px;
}

#body {
    width: 100%;
    height: 100%;
}

#card3 {
    background: #1c92d2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f2fcfe, #1c92d2); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-size: 20px;
}

#container {
    margin-top: 50px;
    margin-left: 20px;

}

.card-img-top, .card-body {
    /*height: 9cm;*/
}

/*@media (min-width: 992px) {*/
/*.card-img-top,.card-body {*/
/*height: 9cm;*/
/*}*/
/*}*/

#text {
    margin-left: 30%;
    margin-top: 18%;
    font-size: 30px;
}

@media (max-width: 768px) {
    .card-title {
        font-size: 2.6em;
    }

    .card-text {
        font-size: 1rem;
    }
}

a {
    font-weight: bold;
    color: #B46983;
}

