<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="https://use.fontawesome.com/17c7962084.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="svg-with-js/js/fontawesome-all.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>

<body id="b1" background="pics/Fitness-Man-Body.jpg">

<div class="container" id="container">
    <!--<img src="Fitness-Man-Body.jpg" width="100%" height="100%" type="background">-->
    <div id="11" class="form-control-sm">
        <form action="/user/signin" method="post" class="form-control-sm" id="f1" style="margin-top:15%">
            <img class="mb-4" src="js/bootstrap.min.js" alt="" width="72" height="72"
            >
            <h1 class="h3 mb-3 font-weight-normal" style="color: #005cbf " id="h11">Get Ready...</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input id="inputEmail" class="form-control" placeholder="User Name" required="required"
                   autofocus="autofocus" type="text" style="width: 250px">

            <label for="inputPassword" class="sr-only">Password</label>
            <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password"
                   style="width: 250px">
            <div class="checkbox mb-3">
                <label>
                    <input value="remember-me" type="checkbox" style="margin-top: 10px "> Remember me
                </label>
            </div>
            <button class="btn  btn-primary " type="submit" value="SIGN IN" >Sign in</button><p></p>
            <a class="btn  btn-primary " type="submit" value="SIGN IN" href="/user/login/fb">Sign in with Facebook</a><p></p>
            <a class="btn  btn-primary " type="submit" value="SIGN IN" href="/user/login/twitter">Sign in with Twitter</a>
            <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
        </form>

    </div>
</div>

</body>
</html>