/*html,*/
/*body {*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*overflow: hidden;*/
/*}*/

/*#particle-canvas {*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/
body{
    background-image: url("/pics/ChatWithUs.png");
}