#container {
    margin-left: 10px;
}

#body {
    width: 100%;
    height: 100%;
}

button {
    outline: none;

}

#introText, #p1, #results, #p2 {
    color: #005cbf;
}

#h2 {
    margin-bottom: 10px;
    color: #005cbf;
    margin-top: 100px;
    font-size: 50px;
}

.btn {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

input {
    width: 100%;
    padding: 5px 14px;
    border: 2px solid #201f1d;
    margin-bottom: 10px;
    /*background-color: rgba(0,0,0,.4);*/
    outline: none;
    font-size: 14px;
}

form {

    padding: 20px;

}

form p {
    margin-bottom: 5px;
}

form p:nth-child(1) {
    margin-top: 0;
}

.panel {
    margin-top: 20px;
    float: none;
}

@media (min-width: 768px) {
    .panel {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1024px) {
    .panel {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
}