<html>
<head>
    <title>BMI Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="styles.css">-->
    <script src="https://use.fontawesome.com/17c7962084.js"></script>
</head>
<body background="../pics/Fitness-Man-Body.jpg" id="body">
<div class="container" id="container">
    <div class="panel">
        <h2 class="text-center" id="h2"><strong>Check your BMI</strong></h2>

        <p id="introText" class="text-center">Enter your weight and height below to check your BMI results</p>

        <form>
            <div id="weightInput">
                <p id="p1">Put your weight in here (KG)</p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <!--<span class="input-group-text" id="inputGroup-sizing-default">Default</span>-->
                    </div>
                    <input type="text" class="form-control"
                           aria-describedby="inputGroup-sizing-default" id="weight" type="number" pattern="[0-9]*"
                           name="a">
                </div>
                <!--<input/>-->
            </div>
            <div id="heightInput">
                <p id="p2">And your height in here (CM)</p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <!--<span class="input-group-text" id="inputGroup-sizing-default">Default</span>-->
                    </div>
                    <input type="text" class="form-control" aria-label="Default"
                           aria-describedby="inputGroup-sizing-default" id="height" type="number" pattern="[0-9]*"
                           name="b">
                </div>
                <!--<input/>-->
            </div>
            <button type="button" class="btn btn-primary" onclick="calculate()">Calculate BMI</button>
        </form>
        <div id="results" class="text-center">Your BMI results will appear here</div>
    </div>
</div>
<script src="main.js"></script>
</body>
</html>