#container{
    margin-left: 10px;
}
body {
    /*background-color: #eee;*/
    /*text-align: center;*/
width: 100%;
    height: 100%;
    /*margin-top: 50px;*/
}

button {
    /*background-color: rgba(0,0,0,0);*/
    outline: none;

}
#introText,#p1,#results,#p2{
    color: #005cbf;
}
#h2 {
    margin-bottom: 10px;
    color: #005cbf;
    margin-top: 100px;
font-size: 50px;
}

.btn {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

input {
    width: 100%;
    padding: 5px 14px;
    border: 2px solid #201f1d;
    margin-bottom: 10px;
    /*background-color: rgba(0,0,0,.4);*/
    outline: none;
    /*color: #fff;*/
    font-size: 14px;
}

input:focus {
    /*border: 2px solid rgba(0,0,0,.4);*/
    /*background-color: rgb(60,60,60);*/
}

form {
    /*background-color: #fff;*/
    padding: 20px;
    /*color: #000;*/
    /*box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);*/
}

form p {
    margin-bottom: 5px;
}

form p:nth-child(1){
    margin-top: 0;
}

.panel {
    margin-top: 20px;
    float: none;
}

@media (min-width: 768px) {
    .panel {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1024px) {
    .panel {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
}